body {
    background-color: black;
    color: white;
    font-family: 'Raleway', sans-serif;
}

h1 {
    text-align: center;
}

main {
    display: inline-block;
    padding: 5%;
}

.iguana2 {
    width: 20%;
    float: right;
}

main p {
    text-align: left;
}

.caracteristicas {
    text-align: center;
    display: inline-block;
    width: 100%;
    background-color: #1E1A13;
}

.c1 {
    width: 10%;
    display: inline-block;
    padding: 5%;
}

.c2 {
    width: 10%;
    display: inline-block;
    padding: 5%;
}

.c3 {
    width: 10%;
    display: inline-block;
    padding: 5%;
}

.imgs {
    text-align: center;
}

.foto1 {
    width: 20%;
    height: 200px;
    display: inline-block;
    padding: 5%;
}

.foto2 {
    width: 20%;
    height: 200px;
    display: inline-block;
    padding: 5%;
}

.foto3 {
    width: 20%;
    height: 200px;
    display: inline-block;
    padding: 5%;
}

footer {
    background-color: #1E1A13;
    text-align: center;
    padding: 1%;
}